<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxit.loans.dao.ApplyLoansDao">
	<insert id="insertLoans" parameterType="com.lxit.loans.model.ApplyLoans">
		insert into applyloans(`describe`) values(#{describe})
	</insert>
</mapper>
